.article {
  max-width: 65ch;
  margin: 0 auto;
  line-height: 1.6;
}

.standard {
}

.feature {
  background-color: #f9fafb;
}

.interview {
  font-family: "Courier New", monospace;
}

.hero {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.controls {
  margin-bottom: 1rem;
}
